.input-div {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.user-input {
    margin-bottom: 25px;
}

.result {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
}

.card {
    width: 300px;
    margin: 20px;
}

.card-image {
    display: block;
    width: 200px;
    height: 150px;
}